        body {
            background-color: #778899;
            font-family: serif;
            }
        


        h1, h2, h3 {
                    font-family: sans-serif;
                    font-weight: normal;
                    margin-bottom: 0px;
            }


        img {   border: 10px solid white;
                width: 450px;
                margin-left: 15px;
    
        }


        p {
                
                font-family: sans-serif;
                margin: 0px;
        }

     
        